body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
    font-weight: 900;
    padding-top: 20%;
}

h2{
    font-size: 40px;
    padding-top: 40px;
}

#navbar{
    display: flex;
}

#left-line{
    width: 25%;
    padding-left: 85px;
    margin-top: 1px;
    font-size: 15px;
    font-weight: 700;
}   

#mid-line{
    width: 60%;
    font-size: 15px;
    font-weight: 700;
    padding-left: 150px;
}


#right-line{
    width: 15%;
    font-size: 15px;
    padding-left: 30px;
    text-align: center;
    margin-top: 18px;
    font-weight: 700;
}


#right-line a{
    text-decoration: none;

}


ul{
    display: flex;
    list-style: none;
}

ul li a{
    text-decoration: none;
    padding: 0 20px;
}
    
.color-orange{
    color: orange;
}

.flexible-container{
    display: flex;
    margin-bottom: 150px;
}



.half-width{
    width: 50%;
    padding-left: 5%;
}


.margin{
    margin-bottom: 60px;
    
}

.padding-right{
    padding-right: 180px;
}

.link-button{
    text-decoration: none;
    color: white;
    font-weight:  700;
    background-image: linear-gradient(orange, orangered);
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 30px;
}




#lady3-png{
    padding-left: 5%;
    max-width: 100%;
    height: auto;
}

#background-image-two{
    background-image: url(images/shapes/7.png);
    background-size: cover;
    background-repeat: no-repeat;
}


.my-recipes{
    text-align: center;
}

.onethird-width{
    width: 25%;
    padding: 10px;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10%;
}

.onethird-width img{
    width: 100%;
} 


.color-gray{
    color: gray;
    
}

.style-footer{
    background-color: black;
    
}

.style-footer p{
    color: white;
    padding-bottom: 5%;
}
